.h2 {
  font-weight: bolder;
  font-size: larger;
  border-bottom: 2px solid black;
}

.h3 {
  font-weight: bolder;
  font-size: large;
  color: gray;
  margin-top: 25px;
  border-bottom: 2px solid gray;
}

.experience-entry {
  display: inline-flex;
  margin-bottom: 3ch;
}

.experience-entry .entry-date {
  font-weight: bold;
  width: 12ch;
}

.experience-entry .entry-description {
  width: 60ch;
  margin-left: 5ch;
}
